body{
    background-image:url(../imgine/wallpaper.jpg);
    margin:0px;
}
div#header{
    height:122px;
}
div.inner{
    margin-left: 10px;
    margin-right: 10px;
}
img.imgine{
    margin-left: 40%;
}
div#nav{
    height: 40px;
}
ul.uls {
    background-color: #efe5d0;
    border: 1px solid black;
	margin: 10px 0px 10px 0px;
    line-height: 30px;
    list-style-type: none;
}
li.stylel{
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
}
a.stylea{
    color: black;
    font-family: 黑体;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
}
div#cont{
    height:550px;
}
h1.hstyle{
    padding-top: 10px;
    text-align: center;
    font-size: 40px;
    color: aquamarine;
    font-family: 黑体;
}
img.simg{
    padding: 0px 10px 10px 10px;
    height: auto;
    width: 380px;
}
p.sp{
    padding: 10px 10px 10px 10px;
    font-family: 黑体;
    color: yellowgreen;
    font-size: 30px;
}

.munu{
    width: 300px;
    height: 550px;
    float:left;
}
ul.ulss{
    background-color: #efe5d0;
    border: 1px solid black;
	margin: 20% 0px 20% 0px;

}
li.liss{
    padding: 50px 0px 50px 0px;
    font-family: 黑体;
    color: #000;
    font-size: 40px;
}
div#kuai{
    margin: 0px 1% 0px 1%;
    height:550px;
    width: 400px;
    float: right;
    border: 1px solid blue;
    background-color: #fff;
}

div#footer{
    margin-top: 10px;
    height:60px;
}
div#footer div.inner div#foot{
    background-color: rgb(39, 204, 233);
}
p.spp{
    font-family: 黑体;
    color: #000;
    font-size: 30px;
    text-align: center;
}
